*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: antiquewhite;
}

.main-container{
    text-align: center;
    margin-top: 20rem;
}

h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

span{
    font-size: 5rem;
    font-weight: bold;
}

.button-container{
    margin-top: 2rem;
}

.btn{
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
}

.decrease:hover{
    background-color: red;
}
.increase:hover{
    background-color: green;
}
.reset:hover{
    background-color: white;
}